.control-layout {
  width: 40vw;
  height: 100vh;
  background-color: #fefefe;

  .form-layout {
    width: 100%;
    height: 60%;
  }

  .code-layout {
    width: 100%;
    height: 40%;
    display: flex;

    .code {
      width: 50%;
      height: 100%;
    }

    .divider {
      flex: 0 0 1px;
      height: 100%;
    }
  }
}