.contain {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  padding: 0 5px;

  .header {
    width: 100%;
    height: 10%;
    @include flexLayout($justify-content: space-between);

    .title {
      font-weight: bold;
    }

    .controls {
      @include flexLayout;

      .play {
        margin-left: 5px;
      }
    }
  }

  .main {
    width: 100%;
    height: 90%;
  }
}