@mixin flexLayout($flex-direction: row, $justify-content: center, $aligin-items: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $aligin-items;
}